#areacss{
    width: 100%;
    height: 100%;
}
#result{
    width:100%;
    height:100%;
}

.infotext{
    font-size: 1.4vh;
}
.bs-example  div[class^="col"] {
    border: 1px solid #007bff;
    background: white;
    padding-top: 8px;
    padding-bottom: 8px;
}

.col-sm-6{
    height: 46.2vh;
}

#translatortitle{
    color: black;
    text-align: center;
}

.noborder td, .noborder th {
    border: none !important;
}
td{
    display:inline-block;
}

.table{
    table-layout: fixed;
}

.form-col{
    font-size: 10px;
}

.form-control{
    font-size: 10px !important;
}
.btn-primary{
    margin-top: 1%;
}